body {
 background-image: url("abu.jpg");
}
h3{
	color: black;
	text-align: center;}
.center{text-align:center;}
h1{
	background-color:  #d6d6c2;
}

h5{ color:red; text-align 

}
</style>
</body>
